@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
p,
div,
span,
a,
ul,
li {
  font-family: "Roboto", sans-serif;
}
.text_center {
  text-align: center;
}
.primary_btn {
  background-color: rgba(255, 0, 0, 0.8);
  width: 170px;
  height: 60px;
  border: none;
  border-radius: 8px;
  /* margin-top: 20px; */
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
:root {
  --primary-color: red;
  --secondery-color: blue;
}

/* Header section */
header {
  padding: 20px 0px;
  color: white;
}
.header_contents {
  background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)),
    url(../images/Banner\ Image.png);
  width: 1400px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header_subtitle {
  font-size: 32px;
  margin-bottom: 16px;
}
.header_title {
  font-size: 72px;
  text-align: center;
  width: 632px;
  font-weight: 500;
}

/* offer section css */
.offer_section {
  padding: 120px 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer_section_title {
  font-size: 88px;
  font-weight: bold;
  margin-bottom: 48px;
  color: red;
}
.offer_section_description {
  font-size: 24px;
  color: red;
  margin-bottom: 120px;
  font-weight: 500;
}
.offer_section_img {
  width: 600px;
  height: 500px;
}

/* Banner Section  */
.banner_section {
  background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)),
    url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  width: 1400px;
  height: 650px;
  background-size: cover;
  margin: auto;
  padding: 100px 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_section_contents {
  width: 60%;
}
.banner_section_title {
  font-size: 64px;
  width: 600px;
  font-weight: bold;
}
.banner_section_description {
  font-size: 18px;
  color: white;
  opacity: 0.8;
}

/* Address Section Css */
.address_section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgb(229, 203, 203) 0%,
    rgba(235, 89, 89, 0.2) 100%
  );
  width: 1400px;
  margin: 120px auto;
  height: 450px;
  color: black;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  gap: 20px;
}

.address_title {
  color: red;
}
.address {
  color: black;
  font-weight: 600;
  font-size: 32px;
}

/* announcement_section */
.announcement_section {
  width: 1400px;
  display: flex;
  /* justify-content: center; */
  align-items: start;
  margin: auto;
  padding: 0px 0px 120px 0px;
}
.announcement_contents {
  width: 32%;
  display: flex;
  /* justify-content: center; */
  align-self: center;
  flex-direction: column;
  gap: 10px;
}
.announcement_subtitle {
  color: red;
  font-size: 24px;
  font-weight: 500;
}
.announcement_title {
  font-size: 48px;
  font-weight: 700;
  color: #070211;
  margin-top: -5px;
}
.announcement_description {
  font-size: 20px;
  font-weight: 400;
  color: #070211;
}
.announcement_img_section {
  width: 32%;
}

.announcement_img {
  border: 15px solid red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 20px;
}
.announcement_grettings {
  width: 32%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 60px;
  gap: 30px;
}
.grettings_title {
  color: red;
  font-size: 48px;
  font-weight: bold;
}
.grettings_img {
  width: 140px;
  height: 140px;
}

/* Discount Section Css */
.discount_section {
  width: 1400px;

  text-align: center;
  margin: auto;
}

.discount_subtitle {
  font-size: 24px;
  font-weight: 500;
  color: #070211;
}
.discount_title {
  font-weight: bold;
  font-size: 72px;
  color: #070211;
  margin-top: 16px;
  margin-bottom: 28px;
  span {
    color: #ff0000;
  }
}
.discount_description {
  font-size: 20px;
  font-weight: 400;
  color: #070211;
  margin: auto;
  line-height: 1.5;
  max-width: 70%;
}

.discount_section_img {
  position: relative;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgb(230, 215, 215) 0%,
    rgba(241, 227, 227, 0.2) 100%
  );
  height: 900px;
}
.discount_img {
  position: absolute;
}
.discount_img_1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.discount_img_2 {
  width: 100%;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.discount_img_3 {
    position: absolute;
    top: 200px;
    right: 100px;
    z-index: 5;
    width: 300px;
}

/* Display Section */

.product_display_section{
  width: 1400px;
  margin: auto;
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.disply_section_contents{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}
.display_section_subtitle{
  color: red;
  font-size: 24px;
  font-weight: 500;
}
.display_section_title{
  font-size: 48px;
  font-weight: 700;
  color: #070211;
  margin-top: -5px;
}
.display_section_description{
  font-size: 20px;
  font-weight: 400;
  color: #070211;
  width: 50%;
}
.display_section_images{
 row-gap: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-self: stretch;
}

/* Newsletter section */
.newsletter_section{
  background-color: #FFF2F2;
  width: 1400px;
  margin: auto;
  padding: 80px 212px;
  text-align: center;
}

.newsletter_contents{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 42px;


}
.newsletter_img{
  width: 150px;
  height: 150px;
}
.newsletter_content_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.newsletter_title{
  font-size: 48px;
  font-weight: bold;
  color: #070211;
}
.newsletter_description{
  width: 80%;
  font-size: 20px;
  color: #070211;
  opacity: 60%;
}
.newsletter_form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter_email{
  width: 548px;
  height: 72px;
  border: none;
  border-radius: 50px 0px 0px 50px;
  -webkit-border-radius: 50px 0px 0px 50px;
  -moz-border-radius: 50px 0px 0px 50px;
  -ms-border-radius: 50px 0px 0px 50px;
  -o-border-radius: 50px 0px 0px 50px;
  padding: 20px 30px;
  font-size: 20px;
  color: #070211;
}
.newsletter_btn{
  width: 210px;
  height: 72px;
  border: none;
  border-radius: 0px 50px 50px 0px;
  -webkit-border-radius: 0px 50px 50px 0px;
  -moz-border-radius: 0px 50px 50px 0px;
  -ms-border-radius: 0px 50px 50px 0px;
  -o-border-radius: 0px 50px 50px 0px;
  /* margin-left: -5px; */
}

/* Footer Section */
footer{
margin-top: 120px;
background-color: #060211;

}
.footer_section{
width: 1400px;
margin: auto;
padding: 120px 0px;
display: flex;
color: white;
flex-direction: column;
height: 600px;
gap: 50px;
}
.footer_address_section{
display: flex;
justify-content: space-between;
}
.footer_address{
  font-size: 20px;
  font-weight: 500;
  width: 30%;
  line-height: 1.5;
}
.p-tag{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer_icon_section{
  display: flex;
justify-content: center;
align-items: center;
gap: 30px;
}

.footer_copyright_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;

}
.aut{
  color: #fd6d0a;
  font-style: italic;
  text-transform: uppercase;
}